<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tr> <td>Before</td> <td> <a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>11:45</td>  <td> Pre-workshop set up help </td></tr>
      <tr> <td>12:00</td>  <td> <a href="https://swcarpentry.github.io/r-novice-gapminder/01-rstudio-intro/index.html">Introduction to R and RStudio</a> </td> </tr>
      <tr> <td>12:30</td>  <td>Grab Lunch</td> </tr>
      <tr> <td>12:40</td>  <td> <a href="https://swcarpentry.github.io/r-novice-gapminder/04-data-structures-part1/index.html">Data Structures</a></td> </tr>
      <tr> <td>01:30</td>  <td> <a href="https://swcarpentry.github.io/r-novice-gapminder/08-plot-ggplot2/index.html">Creating Publication-Quality Graphics with ggplot2</a></td> </tr>
      <tr> <td>02:00</td>  <td>END</td> </tr>
      <tr> <td>After</td> <td> <a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop survey</a> </td> </tr>
    </table>
  </div>
</div>
