<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td> <a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:00</td>  <td> Pre workshop set up help </td></tr>
      <tr> <td>09:30</td>  <td> <a href="https://swcarpentry.github.io/r-novice-gapminder/01-rstudio-intro/index.html">Introduction to R and RStudio</a> </td> </tr>
      <tr> <td>10:25</td>  <td> <a href="https://swcarpentry.github.io/r-novice-gapminder/02-project-intro/index.html">Project Management With RStudio</a> </td> </tr>
      <tr> <td>11:05</td>  <td>Morning Break</td> </tr>
      <tr> <td>11:20</td>  <td> <a href="https://swcarpentry.github.io/r-novice-gapminder/03-seeking-help/index.html">Seeking Help</a></td> </tr>
      <tr> <td>11:45</td>  <td> <a href="https://swcarpentry.github.io/r-novice-gapminder/04-data-structures-part1/index.html">Data Structures</a></td> </tr>
      <tr> <td>12:45</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:45</td>  <td> <a href="https://swcarpentry.github.io/r-novice-gapminder/05-data-structures-part2/index.html">Exploring Data Frames</a></td> </tr>
      <tr> <td>14:45</td>  <td> <a href="https://swcarpentry.github.io/r-novice-gapminder/06-data-subsetting/index.html">Subsetting Data</a></td> </tr>
      <tr> <td>15:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>15:45</td>  <td> <a href="https://swcarpentry.github.io/r-novice-gapminder/07-control-flow/index.html">Control Flow</a></td> </tr>
      <tr> <td>16:30</td>  <td>Wrap up</td> </tr>
      <tr> <td>16:40</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td> <a href="https://swcarpentry.github.io/r-novice-gapminder/08-plot-ggplot2/index.html">Creating Publication-Quality Graphics with ggplot2</a></td> </tr>
      <tr> <td>10:15</td>  <td> <a href="https://swcarpentry.github.io/r-novice-gapminder/09-vectorization/index.html">Vectorization</a></td> </tr>
      <tr> <td>10:40</td>  <td>Morning break</td> </tr>
      <tr> <td>010:55</td>  <td> <a href="https://swcarpentry.github.io/r-novice-gapminder/10-functions/index.html">Functions Explained</a></td> </tr>
      <tr> <td>11:55</td>  <td> <a href="https://swcarpentry.github.io/r-novice-gapminder/11-writing-data/index.html">Writing Data</a></td> </tr>
      <tr> <td>12:30</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:30</td>  <td> <a href="https://swcarpentry.github.io/r-novice-gapminder/14-tidyr/index.html">Data Frame Manipulation with tidyr</a></td> </tr>
      <tr> <td>14:30</td>  <td> <a href="https://swcarpentry.github.io/r-novice-gapminder/13-dplyr/index.html">Data Frame Manipulation with dplyr</a></td> </tr>
      <tr> <td>15:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>15:45</td>  <td> <a href="https://swcarpentry.github.io/r-novice-gapminder/15-knitr-markdown/index.html">Producing Reports With knitr</a></td> </tr>
      <tr> <td>16:45</td>  <td> <a href="https://swcarpentry.github.io/r-novice-gapminder/16-wrap-up/index.html">Writing good software</a></td> </tr>
      <tr> <td>16:45</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
